<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Bay</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
{% if user.is_authenticated %}
<p>LOL</p>
{%else%}
<h1>Спасибо за отзов</h1>
    {%endif%}
</body>
</html>