<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Транспорт</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/transport_style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Личный кабинет</a></li>
                <li class="active"><a href="{% url 'transport' %}">Транспорт</a></li>
                <li><a href="{% url 'personal' %}">Персонал</a></li>
                <li><a href="{% url 'support' %}">Поддержка</a></li>
                  {% if user.is_authenticated %}

                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
                  {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
                  {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <h1>Транспорт</h1>



        <form action="{% url 'transport' %}" method="post">
          {% csrf_token %}
          <div class="form-error">{{form.non_field_errors}}</div>

          {% for f in form %}
          <p>
            <label for="{{f.id_for_label}}" class="form-label">{{f.label}}:</label>
            {{f}}
          </p>
          <div class="form-error">{{f.errors}}</div>
          {% endfor %}

          <button type="submit">Сохранить</button>
        </form>

        <table id="transport-table">
            <thead>
                <tr>
                    <th>Модель</th>
                    <th>Транспортный номер</th>

                </tr>
            </thead>
            <tbody>
            {% for i in transport %}
          <tr>
            <td>{{i.model}}</td>
            <td>{{i.number}}</td>


              <td><a href="{{ i.image }}"  download = "qr_code.png">Скачать qr-code<a></td>

              <td><a href="{%url 'transport-delete' i.id%}" >Удалить запись</a></td>
              <!--<td><a href="{%url 'transport-update' i.id%}" >Изменить запись</a></td>-->


          </tr>
          {% endfor %}
            </tbody>
        </table>
    </main>

    <!--<script src="{% static 'js/transport.js' %}"></script>-->
</body>
</html>
